@tailwind base;
@tailwind components;
@tailwind utilities;

.bgBanner {
    background-image: url('/aibanner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mainDiv:hover .rotateImg {
    animation: rotate 3s linear infinite !important;
}

.mainDiv {
    overflow: hidden !important;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.contactIn {
    position: absolute;
    top: 24% !important;
    left: 24%;
}

.bgGlass {
    background-image: url(/glass.png) !important;
    background-size: contain;
}

.bgCurve {
    background-image: url('/curve.png');
    background-repeat: no-repeat;
    background-position: center;
}

.bgCurve1 {
    background-image: url('/curve1.png');
    background-repeat: no-repeat;
    background-position: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#offerForm {
    scrollbar-width: thin;
}

#offerForm::-webkit-scrollbar {
    width: 10px;
}


/* ProgressBar Styling */

.progress {
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: none;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress.active .progress-bar,
.progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-striped .progress-bar,
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress-bar-danger {
    background-color: #04e1e1;
}