@tailwind base;
@tailwind components;
@tailwind utilities;

.bgBanner {
    background-image: url('/aibanner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mainDiv:hover .rotateImg{
    animation: rotate 3s linear infinite !important;
}
.mainDiv{
    overflow: hidden !important;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.contactIn{
    position: absolute;
    top: 24% !important;
    left: 24%;
}

.bgGlass{
    background-image: url(/glass.png) !important;
    background-size: contain;
}

.bgCurve{
    background-image: url('/curve.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bgCurve1{
    background-image: url('/curve1.png');
    background-repeat: no-repeat;
    background-position: center;
}